@import "tailwindcss";

@layer base {
  body {
    background-color: #F8FAFC;
    font-family: 'Roboto', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
